.Outer {
  background-color: azure;
  border: 1px solid aquamarine;
  padding: 30px;
  padding-bottom:90px;
  font-family: "open sans", sans-serif;
}
h1 {
  font-family: "montserrat";
}

h2{
  font-family: "montserrat";
}

.SocialMedia img{
  display: inline-block;
  float:left;
  max-height: 50px;
  max-width: 50px;
  padding: 0px 50px 50px 10px;
}

a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer; 
  cursor: hand;
}

a:active {
    text-decoration: underline;
}

span{
  display:block;
  float:right
}

